/* header.css */

.elem {
    position: relative;
    /* height: 100vh; */
    width: 100%;
    border-bottom: 2px solid #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .first {
    position: absolute;
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all linear 0.3s;
  }
  
  
  